{% extends 'base.html' %}

{% block content %}
<div class="container shadow">
    <br>
    <h1>Benie254 <br><span><h4>API Endpoints</h4></span></h1>
    <br>
    <ol class="bg-light w-50">
        <li><a href="{% url 'all-projects' %}">All Projects</a></li>
        <span>
            <ul>
                {% for p in projects %}<li><a href="{% url 'project-details' p.id %}">Project: <span><strong>{{p.name}}</strong></span> details</a></li>{% endfor %}
            </ul>
        </span>
        <li><a href="{% url 'all-technologies' %}">All Technologies</a></li>
        <span>
            <ul>
                {% for t in technologies %}<li><a href="{% url 'technology-details' t.id %}">Technology: {{t.id}}. <span><strong>{{t.name}}</strong> </span> details</a></li>{% endfor %}
            </ul>
        </span>
        <li><a href="{% url 'all-feedbacks' %}">All Feedbacks</a></li>
        <span>
            <ul>
                {% for f in feedbacks %}<li><a href="{% url 'feedback-details' f.id %}">Feedback #{{f.id}} details</a></li>{% endfor %}
            </ul>
        </span>
        <li><a href="{% url 'all-reactions' %}">All Reactions</a></li>
        <span>
            <ul>
                {% for r in reactions %}<li><a href="{% url 'reaction-details' f.id %}">Reaction #{{r.id}} details</a></li>{% endfor %}
            </ul>
        </span>
        <li><a href="{% url 'all-contacts' %}">All Contacts</a></li>
        <span>
            <ul>
                {% for c in contacts %}<li><a href="{% url 'contact-details' c.id %}">Contact: {{c.id}}.<strong>{{c.name}}</strong> details</a></li>{% endfor %}
            </ul>
        </span>
    </ol>
</div>
{% endblock %}